<div class="layout">
  <div class="row">

    <div class="mycol smallcol" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]=taskArray[5] #listFive="cdkDropList" [cdkDropListConnectedTo]="[listZero, listOne, listTwo, listThree, listFour]" >
      <div class="mycard">
        <input [(ngModel)]="newTask" placeholder="Task Name" class="col-12" />
        <button [disabled] = "newTask.length<1 || loading" (click)="AddTask()" class="col-12">Add</button>
      </div>
      <div cdkDrag [cdkDragData]="task" *ngFor="let task of taskArray[5]" class="mycard" >
          <div>
              {{task.Name}}
          </div>
          <select (change)="onChange($event.target.value, task)" [(ngModel)]="task.User.UserId" style="width:80%">
              <option *ngFor="let user of users" value="{{user.UserId}}">{{user.FullName}}</option>
              <option value="0" selected>None</option>
            </select>
        <button (click)="DeleteTask(task)" type="button" class="btn btn-sm delete-button" ><i class="fas fa-times"></i></button>
      </div>
    </div>

    <div class="mycol smallcol">
       <div class="mycard">
        <input [(ngModel)]="newUser" placeholder="User Name" class="col-12" />
        <button [disabled] = "newUser.length<1 || loading" (click)="AddUser()" class="col-12">Add</button>
      </div>
      <div *ngFor="let user of users" class="mycard" style="height: 40px;">
        {{user.FullName}}
        <button (click)="DeleteUser(user)" type="button" class="btn btn-sm delete-button" ><i class="fas fa-times"></i></button>
      </div>
    </div>

    <div class="mycol">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="smallcol">Monday</th>
                <th scope="col" class="smallcol">Tuesday</th>
                <th scope="col" class="smallcol">Wednesday</th>
                <th scope="col" class="smallcol">Thursday</th>
                <th scope="col" class="smallcol">Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]=taskArray[0]  #listZero="cdkDropList" [cdkDropListConnectedTo]="[listOne, listTwo, listThree, listFour, listFive]" class="dropArea">
                      <div cdkDrag [cdkDragData]="task" *ngFor="let task of taskArray[0]" class="mycard">
                          <div>
                              {{task.Name}}
                          </div>
                          <select (change)="onChange($event.target.value, task)" [(ngModel)]="task.User.UserId" style="width:100%">
                              <option *ngFor="let user of users" value="{{user.UserId}}">{{user.FullName}}</option>
                              <option value="0">None</option>
                            </select>
                      </div>
                  </div>
                </td>
                <td>
                  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]=taskArray[1]  #listOne="cdkDropList" [cdkDropListConnectedTo]="[listZero, listTwo, listThree, listFour, listFive]" class="dropArea">
                      <div cdkDrag [cdkDragData]="task" *ngFor="let task of taskArray[1]" class="mycard">
                          <div>
                              {{task.Name}}
                          </div>
                          <select (change)="onChange($event.target.value, task)" [(ngModel)]="task.User.UserId" style="width:100%">
                              <option *ngFor="let user of users" value="{{user.UserId}}">{{user.FullName}}</option>
                              <option value="0">None</option>
                            </select>
                      </div>
                  </div>
                  
                </td>
                <td>
                  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]=taskArray[2]  #listTwo="cdkDropList" [cdkDropListConnectedTo]="[listZero, listOne, listThree, listFour, listFive]" class="dropArea">
                      <div cdkDrag [cdkDragData]="task" *ngFor="let task of taskArray[2]" class="mycard">
                          <div>
                              {{task.Name}}
                          </div>
                          <select (change)="onChange($event.target.value, task)" [(ngModel)]="task.User.UserId" style="width:100%">
                              <option *ngFor="let user of users" value="{{user.UserId}}">{{user.FullName}}</option>
                              <option value="0">None</option>
                            </select>
                      </div>
                  </div>
                  
                </td>
                <td>
                  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]=taskArray[3]  #listThree="cdkDropList" [cdkDropListConnectedTo]="[listZero, listOne, listTwo, listFour, listFive]" class="dropArea">
                      <div cdkDrag [cdkDragData]="task" *ngFor="let task of taskArray[3]" class="mycard">
                          <div>
                              {{task.Name}}
                          </div>
                          <select (change)="onChange($event.target.value, task)" [(ngModel)]="task.User.UserId" style="width:100%">
                              <option *ngFor="let user of users" value="{{user.UserId}}">{{user.FullName}}</option>
                              <option value="0">None</option>
                            </select>
                      </div>
                  </div>
                  
                </td>
                <td>
                  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]=taskArray[4]  #listFour="cdkDropList" [cdkDropListConnectedTo]="[listZero, listOne, listTwo, listThree, listFive]" class="dropArea">
                      <div cdkDrag [cdkDragData]="task" *ngFor="let task of taskArray[4]" class="mycard">
                          <div>
                              {{task.Name}}
                          </div>
                          <select (change)="onChange($event.target.value, task)" [(ngModel)]="task.User.UserId" style="width:100%">
                              <option *ngFor="let user of users" value="{{user.UserId}}">{{user.FullName}}</option>
                              <option value="0">None</option>
                            </select>
                      </div>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <button class="btn" (click)="logOut()">Log Out</button>
  </div>
</div>

