/* You can add global styles to this file, and also import other style files */
.mycard{
    border: 1px solid grey;
    border-radius: 4px;
    background-color: lightsteelblue;
    padding: 5px;
    margin: 10px;
}
.mycol{

    height: 100vh;
}
.smallcol{
    width: 200px;
}

.layout{
    padding-left: 20px;
    padding-right: 20px;
}